#editor {
  min-height: 100vh;
  // border: 1px solid black;
  max-width: 740px;
  margin: 0 auto;
}

#editor > h1 {
  padding-top: 3em;
}

.data {
  padding-top: 3em;
  text-indent: 4em;
  font-family: 'Nunito';
  span {
    color: red;
  }
}
