@font-face {
  font-family: 'Montseratt';
  src: url(Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Nunito';
  src: url(Nunito-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montseratt';
  text-align: center;
  text-transform: uppercase;
}

.page-button {
  font-family: 'Montseratt';
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5em 1em;
}

@import 'prompt';
