@font-face {
  font-family: 'Montseratt';
  src: url(Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Nunito';
  src: url(Nunito-Regular.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montseratt';
  text-align: center;
  text-transform: uppercase;
}

.page-button {
  font-family: 'Montseratt';
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5em 1em;
}

#editor {
  min-height: 100vh;
  max-width: 740px;
  margin: 0 auto;
}

#editor > h1 {
  padding-top: 3em;
}

.data {
  padding-top: 3em;
  text-indent: 4em;
  font-family: 'Nunito';
}

.data span {
  color: red;
}

#prompt {
  display: -ms-grid;
  display: grid;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: black;
  width: 258px;
  max-height: 90vh;
  position: fixed;
  z-index: 100;
  right: 11px;
  top: 11px;
  opacity: 1;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  font-family: 'Nunito';
  overflow-x: hidden;
  overflow-y: auto;
}

#prompt h4 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 100%;
  background-color: green;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 8px 0;
}

#prompt .question-wrapper {
  margin-top: 3em;
}

#prompt .question {
  margin-bottom: 2em;
  padding: 0 2em;
}

#prompt .question > p {
  margin-bottom: 1em;
}

#prompt .question > input {
  width: 100%;
  height: 29px;
}

#prompt .question > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#prompt .question .boolean-button {
  background-color: green;
  padding: 8px 16px;
  color: white;
}

#prompt .continue-button {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-top: 2em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  background-color: green;
  padding: 8px 16px;
  color: white;
}

#prompt.hide {
  opacity: 0;
  pointer-events: none;
}
